nav #doc-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  background: #355E95;
  top: 0px;
  right: 0px;
  z-index: 20000;
 
}

nav li {
  float: left;          
}

nav #doc-login {
}

nav #doc-trigger,
nav #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: white;
}


nav #doc-trigger:hover,
nav #doc-login .active,
nav #signup a:hover {
  background: #fff;
  color: #355E95;
}

nav #doc-content {
  display: none;
  border-radius: 3px;
  border: 2px solid #355E95;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;    
  background: white;
  padding: 15px;
}

nav li #doc-content {
  right: 0;
  width: 355px;
  height: 60px;  
}

/*--------------------*/

#doc-input input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 258px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #ccc inset;
  -webkit-box-shadow: 0 1px 1px #ccc inset;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #F6F6F6;
  border-color: #355E95;
  outline: none;
}

/*--------------------*/

#login #doc-actions {
  margin: 10px 0 0 0;
}

fieldset {
    border: 0;
}

#doc-login #doc-submit {		
  background-color: #355E95;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #7e1515;
  float: left;
  position: absolute;
  height: 30px;
  padding: 0;
  width: 50px;
  cursor: pointer;
  color: #fff;
  top: 30px;
  right: 30px;
}

#doc-login #doc-submit:hover,
#doc-login #doc-submit:focus {		
  background-color: #e97171;
}	

#doc-login #doc-submit:active {		
  outline: none;
}

#doc-login #doc-submit::-moz-focus-inner {
  border: none;
}

#doc-login label {
  float: right;
  line-height: 30px;
}

#doc-login label input {
  position: relative;
  top: 2px;
  right: 2px;
}


nav #bug-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  background: #355E95;
  top: 0px;
  right: 0px;
  z-index: 20000;
 
}

nav li {
  float: left;          
}

nav #bug-login {
}

nav #bug-trigger,
nav #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: white;
}


nav #bug-trigger:hover,
nav #bug-login .active,
nav #signup a:hover {
  background: #fff;
  color: #355E95;
}

nav #bug-content {
  display: none;
  border-radius: 3px;
  border: 2px solid #355E95;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;    
  background: white;
  padding: 15px;
}

nav li #bug-content {
  right: 0;
  width: 355px;
  height: 60px;  
}

/*--------------------*/

#bug-input input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 258px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #ccc inset;
  -webkit-box-shadow: 0 1px 1px #ccc inset;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #F6F6F6;
  border-color: #355E95;
  outline: none;
}

/*--------------------*/

#login #bug-actions {
  margin: 10px 0 0 0;
}

fieldset {
    border: 0;
}

#bug-login #bug-submit {		
  background-color: #355E95;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #7e1515;
  float: left;
  position: absolute;
  height: 30px;
  padding: 0;
  width: 50px;
  cursor: pointer;
  color: #fff;
  top: 30px;
  right: 30px;
}

#bug-login #bug-submit:hover,
#bug-login #bug-submit:focus {		
  background-color: #e97171;
}	

#bug-login #bug-submit:active {		
  outline: none;
}

#bug-login #bug-submit::-moz-focus-inner {
  border: none;
}

#bug-login label {
  float: right;
  line-height: 30px;
}

#bug-login label input {
  position: relative;
  top: 2px;
  right: 2px;
}


