
html {
 height: 100%;
 font-family: Lato;
 font-size: 14px;
  #line-height: 0.4;
  #color: #333;
  overflow-y: hidden;
 background: #F6F6F6;
}


body {

margin:0px;
}
#video1 {
 position: fixed;
 top: 50px;
 left: 490px;
 z-index: 10000;
}


#logo{

position: absolute;
top: -20px;
left: 0px;
z-index: 1000;

}

#image0 {
height: 60%;
width: 60%

}

#homediv {
top: 50%;
    left: 35%;
    position:fixed;


}

#socode {
position: fixed; 
left: 100px;
top: 200px;
 font-family: Lato;
 font-size: 62px;
 color: #3B5998; 
 font-weight: bold;

}

