.sf_wrapper {
}

html {
 height: 100%;
 font-family: ProximaNova, 'Quattrocento Sans', sans-serif!important;
 font-size: 14px;
  #line-height: 0.4;
  #color: #333;
  overflow-y: hidden;
 background: #F6F6F6;
margin: 0 auto;
width: 100%;
}

body {

margin:0px;
}

#logo{

position: absolute;
top: -20px;
left: 0px;
z-index: 1000;

}

#image1 {
height: 60%;
width: 60%

}

.wrap {
width: 100%;
height: 100%;
    height: 620px;
overflow:auto;
}

.fleft {
    float:left; 
    width: 24%;
    height: 620px;
    background:white; 
    border:1px solid #CCC; /*This color can be different from color #2 */
    border-radius:8px 8px 8px 8px;
    padding:10px 10px;
    margin:20px 10px;
    font-family: ProximaNova, 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    overflow-y: scroll;

}

#topleft {
	float: left;    
	background-color: white;
    opacity: 1;
    #border:1px solid #CCC; /*This color can be different from color #2 */
    border-radius:8px 8px 8px 8px;
    
}

#flowcontent {
   float:left;
   clear: left;
   height: 500px;
   width: auto;
	border:1px solid gray; /*This color can be different from color #2 */
    border-radius:8px 8px 8px 8px;
}

.fright {
	float: left;
	width: 30%;
	height: 620px;
    background:white;
  background: #F6F6F6;
  z-index: 1500;
}

#code1 {
	word-wrap: normal;
  	overflow: auto;
  	display: block;
}

#demopage, #demopage1 {

  background: #F6F6F6;


}

.fright1 {
	float: left;
	width: 40%;
	height: 620px;
    background:white;
    border:1px solid #CCC; /*This color can be different from color #2 */
    border-radius:8px 8px 8px 8px;
    padding:10px 10px;
    margin:20px 5px;
    overflow-y: scroll;
    word-wrap: break-word;
    display: inline;
}

#view1 {
word-wrap: break-word;
overflow-y: scroll;

}

pre { 
  background: #eee; 
  padding: 10px; 
  border: 2px solid #c94a29; 
  overflow: hidden; 
  overflow-y: scroll;
}

#footer{
    position: absolute;
    font-size: 10px;
    text-align: center;
}
