{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "socialcode/js/typeahead.js" %}"></script>
	<script type="text/javascript" src="{% static "socialcode/js/typeahead.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "socialcode/css/topbar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "socialcode/css/home_typeahead.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "socialcode/css/home.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Prociono|Droid+Sans|Lato|Arvo|PT+Sans|Ubuntu|Josefin+Sans|Della+Respira|Josefin+Slab|Old+Standard+TT|Vollkorn|Open+Sans|Allerta|Monofett' rel='stylesheet' type='text/css'>  
  <link href="{% static "website/css/fonts.css" %}" rel="stylesheet" type="text/css" />
  <!-- Quattrocento Sans -->
  <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:100, 400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>

<div id='header'>
<div id="actions">
	<ul class="actionCont collapsed" id="toggleSidebarUl">
  </ul>

<h1 id="logo">
  <a href="/socialcode/sc_home.html">
        <img id="image0" src="{% static "socialcode/img/smalllogo.gif" %}" alt="Stack Overflow" />
  </a>
</h1>

    	<!-- Auto-complete Search Bar using typeahead.js -->
</div>
</div>


<div id="homediv">
<h1><div id="socode"><nobr>Social Code.</nobr></div></h1>
  	<div class="typeahead-demo">
        <input id="search2" class="typeahead" type="text" placeholder="Search Functions">
	</div>
<div id="video1">
<iframe width="420" height="260" src="http://www.youtube.com/embed/ZO5CsPyUXrc?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</div>
</div>

<script type="text/javascript" src="{% static "socialcode/js/home.js" %}"></script>
<!--
<div id="footer">
   Copyright (c) 2013 Lakshman Swaroop All rights reserved
</div>-->
</body>
</html>
